body {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 5vh 0;
}
.dropbox {
    margin: 5vh auto;
    height: 60vh;
    width: 60vw;
    border-width: 2px;
    border-style: dashed;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    line-height: 60vh;
}
.dropbox input {
    display: none;
}
.upload-btn {
    height: 60px;
    width: 180px;
    margin: auto;
    text-transform: uppercase;
}
[name=result] {
    margin:auto;
    width: 80vw;
}
.fit-image {
    height: 40px;
    line-height: 40px;
    margin: 0 8px;
}